
/*@media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 3em;
    }

    .hero {
      height: 15em;
    }
    .sidenav a {font-size: 18px;}
}*/



@media screen and (max-width: 700px){

/*
   .boxes {
     display: none;
   }*/

.navbar-full {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
   .show-projects {
     margin: 0 auto;
     background: none;
     border: none;
     outline: none;
     color: white;
     font-family: 'Montserrat', sans-serif;
     font-size: 1em;
   }

   .project-name {
     font-size: .2em;
     color: pink;
   }
}

@media screen and (min-width: 700px){
    .show-projects {
      display: none;
    }

    .sidenav {
      width: 100%;
      padding-bottom: 5em;
      display: flex;
      justify-content: center;
    }

    .sidenav a {


    }
    .fa-bars {
      display: none ! important 
    }

    .boxes {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      /*height: 50%;
      width: 50%;*/
    }

   .box-photo {
     width: 100%;
     height: relative;
   }
}
