body {
  padding: 0;
  background-color: black;
}

header {
  position: fixed;
  width: inherit;
}

/*article {
  display: flex;
}*/

/*nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}*/
