
/*@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}*/


/*****************Mobile screen**************/

@media screen and (max-width: 700px){

   .show {
   /*width: 48%;*/
   display: flex;
   flex-direction: row;
   padding-left: 1%;
   padding-right: 1%%;
   padding-top: 1.2em;
}
   .box-photo {
     display: inline-block;
     max-width: 100%;
     /*max-height: inherit;*/
   }



   .sidenav {
      /* 100% Full-height */
       width: 0; /* 0 width - change this with JavaScript */
       position: fixed; /* Stay in place */
       z-index: 1; /* Stay on top */
       top: 0;
       left: 0;
       height: 10em;
       background-color: #111; /* Black*/
       overflow-x: hidden; /* Disable horizontal scroll */
       padding: 2.5em 0 3em .5em; /* Place content 60px from the top */
       margin-left: 0;
       transition: 0.5s;
   }

       .sidenav a {
           padding: 8px 8px 8px 32px;
           text-decoration: none;
           font-size: 25px;
           color: #818181;
           display: block;
           transition: 0.3s
       }

       /* When you mouse over the navigation links, change their color */
       .sidenav a:hover, .offcanvas a:focus{
           color: #f1f1f1;
       }

       /* Position and style the close button (top right corner) */
       .sidenav .closebtn {
           position: absolute;
           top: 0;
           right: 25px;
           font-size: 36px;
           margin-left: 50px;
       }
}

/***************Full Screen****************/

@media screen and (min-width: 700px){
    .show-projects {
      display: none;
    }

    nav, div#navDrawer {
      display: flex;
      height: 0;
      /*padding-bottom: 5em;*/
      justify-content: space-around;
      flex-direction: row;
    }

    .boxes {
      width: 46%;
      display: flex;
      flex-direction: row;
      /*border: 1px solid #18110E;*/
      padding-left: 3%;
      padding-right: 1%%;
      padding-top: 1.4em;
       /*padding: .5em;*/
    }

    .sidenav a {
          color: lightgray;
          width: 100%;
          margin: 10% 20% 0 20%;
          text-decoration: none;
          padding-left: 3em;

    }

    .sidenav a:hover {
      color: white;
      text-decoration: none;
    }


    .project-name {
      text-align: center;
      padding-top: .5em;
      padding-bottom: .5em;
      font-size: .8em;
      color: white;
    }

    .fa-bars {
      visibility: hidden;
    }

    .closebtn {
      visibility: hidden;
    }

   .box-photo {
     width: 100%;
     height: relative;
   }
