
/*@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}*/


/*****************Mobile screen**************/

@media screen and (max-width: 700px){

   .boxes {
     display: none;
   }

   .show-projects {
     margin: 0 auto;
     background: none;
     border: none;
     outline: none;
     color: white;
     font-family: 'Montserrat', sans-serif;
     font-size: 1em;
     z-index: 99999999;
   }

   .sidenav {
      /* 100% Full-height */
       width: 0; /* 0 width - change this with JavaScript */
       position: fixed; /* Stay in place */
       z-index: 1; /* Stay on top */
       top: 0;
       left: 0;
       height: 10em;
       background-color: #111; /* Black*/
       overflow-x: hidden; /* Disable horizontal scroll */
       padding: 2.5em 0 3em .5em; /* Place content 60px from the top */
       margin-left: 0;
       transition: 0.5s;
   }

       .sidenav a {
           padding: 8px 8px 8px 32px;
           text-decoration: none;
           font-size: 25px;
           color: #818181;
           display: block;
           transition: 0.3s
       }

       /* When you mouse over the navigation links, change their color */
       .sidenav a:hover, .offcanvas a:focus{
           color: #f1f1f1;
       }

       /* Position and style the close button (top right corner) */
       .sidenav .closebtn {
           position: absolute;
           top: 0;
           right: 25px;
           font-size: 36px;
           margin-left: 50px;
       }
   .show-projects {
     margin: 0 auto;
     background: none;
     border: none;
     outline: none;
     color: white;
     font-family: 'Montserrat', sans-serif;
     font-size: 1em;
   }
}

/***************Full Screen****************/

@media screen and (min-width: 700px){
    .show-projects {
      display: none;
    }
    .sidenav {
      width: 100%;
      max-width: 100%;
      padding-bottom: 5em;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    .sidenav a {
      display: inline;

          color: white;
          width: 100%;
          margin: 10% 20% 0 20%;
          text-decoration: none;
          padding-left: 2em;

    }


    .project-name {
      font-size: .2em;
      color: pink;
    }

    .boxes {
      display: flex;
      flex-wrap: wrap;
      height: 100%:
    }

    .fa-bars {
      visibility: hidden;
    }

    .closebtn {
      visibility: hidden;
    }

   .box-photo {
     width: 100%;
     height: relative;
   }
}
